<!doctype html>
{% load staticfiles %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Kevin's Site</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="{% static 'polls/main.css' %}">
    </head>
    <body>
        <div class="topbar">
            {% if user.is_authenticated %}
                <p class="login"><a href="/polls/">HOME</a> | Welcome, <a href="/polls/user/{{ user.username }}/">{{ user.username }}</a> | <a href="/polls/logout/">Logout</a></p>
            {% else %}
                <p class="login"><a href="/polls/register/">Register</a> | <a href="/polls/login/#">Login</a></p>
            {% endif %}
        </div>
        <div class="jumbotron">
            
            <h1>Welcome!</h1>
            <p class="lead">Click below to make a poll.</p>
            <p><a class="btn btn-lg btn-default underlinehover" href="/polls/makepoll/">Splendid!</a></p>
        </div>
        <!-- Poll Creation -->
        <div class="container">          
            {% block body_block %}{% endblock %}
        </div>
        <br>
        <div class="bottombar">
                <p class="login"><a href="/polls/about/">about</a></p>
        </div>



        <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-48373847-1', 'kevinburton.ca');
          ga('send', 'pageview');
        </script>
        {% block scripts %} <!-- No scripts for this page --> {% endblock scripts %}
    </body>
</html>
