<!doctype html>

{% load staticfiles %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Kevin's Site</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->

        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="{% static 'polls/main.css' %}">
        <!-- endbuild -->
    </head>
    <body>
        <div class="topbar">
            {% if user.is_authenticated %}
                <p class="login"><a href="/polls/">HOME</a> | Welcome, <a href="/polls/user/{{ user.username }}/">{{ user.username }}</a> | <a href="/polls/logout/">Logout</a></p>
            {% else %}
                <p class="login"><a href="/polls/register/">Register</a> | <a href="/polls/login/#">Login</a></p>
            {% endif %}
        </div>
        <div class="jumbotron">
            
            <h1>Welcome!</h1>
            <p class="lead">Click below to make a poll.</p>
            <p><a class="btn btn-lg btn-default underlinehover" href="/polls/makepoll/">Splendid!</a></p>
        </div>
        <!-- Poll Creation -->
        <div class="container">          
            {% block body_block %}{% endblock %}
        </div>
        <br>
        <div class="bottombar">
                <p class="login"><a href="/polls/about/">about</a></p>
        </div>



        <script src="bower_components/jquery/jquery.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

    </body>
</html>
