<!doctype html>

{% load staticfiles %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Kevin's Site</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->

        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="{% static 'polls/main.css' %}">
        <!-- endbuild -->
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
            <!--
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <h3 class="text-muted">Kevin's Site</h3>
            </div>
            -->

        <div class="topbar">
            {% if user.is_authenticated %}
                <p class="login"><a href="/polls/">HOME</a> | Welcome, <a href="/polls/user/{{ user.username }}/">{{ user.username }}</a> | <a href="/polls/logout/">Logout</a></p>
            {% else %}
                <p class="login"><a href="/polls/register/">Register</a> | <a href="/polls/login/#">Login</a></p>
            {% endif %}
        </div>
        <div class="jumbotron">
            
            <h1>Welcome!</h1>
            <p class="lead">Click below to make a poll.</p>
            <p><a class="btn btn-lg btn-default underlinehover" href="/polls/makepoll/">Splendid!</a></p>
        </div>
        <!-- Poll Creation -->
        <div class="container">          
            {% block body_block %}{% endblock %}
        </div>
        <br>
        <div class="bottombar">
                <p class="login"><a href="/polls/about/">about</a></p>
        </div>


        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/jquery.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

    
        <!-- build:js scripts/plugins.js -->
    <!--    <script src="bower_components/sass-bootstrap/js/affix.js"></script>
        <script src="bower_components/sass-bootstrap/js/alert.js"></script>
        <script src="bower_components/sass-bootstrap/js/dropdown.js"></script>
        <script src="bower_components/sass-bootstrap/js/tooltip.js"></script>
        <script src="bower_components/sass-bootstrap/js/modal.js"></script>
        <script src="bower_components/sass-bootstrap/js/transition.js"></script>
        <script src="bower_components/sass-bootstrap/js/button.js"></script>
        <script src="bower_components/sass-bootstrap/js/popover.js"></script>
        <script src="bower_components/sass-bootstrap/js/carousel.js"></script>
        <script src="bower_components/sass-bootstrap/js/scrollspy.js"></script>
        <script src="bower_components/sass-bootstrap/js/collapse.js"></script>
        <script src="bower_components/sass-bootstrap/js/tab.js"></script>
     -->
     <!-- endbuild -->

        <!-- build:js({app,.tmp}) scripts/main.js
        <script src="scripts/main.js"></script>
        endbuild -->
</body>
</html>


        <!-- View Posted Polls 
        <div class="container">
            <div class="row">
                <div class="panel panel-default">
                  <div class="panel-heading">View your Polls</div>
                  <div class="panel-body">
                      <div class="row">
                        <div class="col-xs-6">
                            <ul>
                                {% for poll in user.polls %}
                                    <li>
                                        <a href="{% url 'polls:detail' poll.id %}">{{ poll.question}}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        
            
                      </div>
          
                  </div>
                </div>
            </div>
        </div>   --> 