{% extends 'polls/base.html' %}
{% load crispy_forms_tags %}

{% block body_block %}
        <div class="container">
            <div class="row">


<!--
              {% crispy form %}
              {% crispy choice_formset %}
              <button type="post">Submit</button>
-->

              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                {{ choice_formset.as_p }}
                <button type="POST">Submit</button>
              </form>
              <div id="add_field" class="btn btn-primary">+</div>
            </div>
            {{ choice_formset.management_form }}
        </div>

{% endblock body_block %}
    
{% block scripts %}
    <script src="http://code.jquery.com/jquery-2.1.0.min.js">
      </script>

    <script>
      $( document ).ready(function() {
        $('#add_field').html('addfield');

        $('#add_field').click(function() {
           alert('clicked');
           console.log('got here!!');
        })

      });

    </script>

    <script>
    $( document ).ready(function() {
        // http://stackoverflow.com/questions/6099301/dynamically-adding-html-form-field-using-jquery
        $('#add_field').click(function() {
          alert('CLICKED!');
          $("<input type='text' value='ab' />")
           console.log('got here')
           .attr("id", "choices_form")
           .attr("name", "choices_form")
           .appendTo("id_form-0-choice_text");
          });
    });
    </script>
{% endblock %}